<div><h1>Edit Your Profile</h1>
	<%# if current_user.profile.profileimage == nil %>
		<%# cl_image_tag("avatar.png", :width => 100, class: "img-thumbnail") %>
	<%# else %>
		<%= cl_image_tag(current_user.profile.profileimage.url, :width => 200, class: "img-thumbnail") %>
	<%# end %>
</div>


<div class="col-md-4" style="margin-top: 20px">
<%= render 'form' %>
</div>

<div class="col-md-8">
	<%= render "goals/mygoals" %>
</div>