<h2>Users</h2>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div class="user_follow">
    <tbody>
      <% @users.each do |user| %>
        <tr style="padding: 5px"><% unless current_user == user %>
          <td><%= link_to user.profile.name, user.profile %></td>
            <td><% if current_user.following?(user) %>
            	 <%= render partial: "users/unfollow", locals: { user: user } %>
            	<% else %>
            	 <%= render partial: "users/follow", locals: { user: user } %>
            	<% end %>
            </td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </div>
</table>


