<div class="search">
    <%= form_tag(users_path, method: :get, id: "search-form") do %>
        <div class="searchbar">
          	<%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "form-control"%>
        </div>

        <button type="submit" class="btn btn-default"><% submit_tag "Search", :name => nil %>Search</button>
    <% end %>
</div>
