
<div class="row" style="margin-top: 70px">
	<div class="col-sm-4 text-center">
		<img src="http://res.cloudinary.com/dv3vuq62w/image/upload/c_scale,h_200,q_100/v1439388077/GK_SHARE_f59ld2.png">
		
	</div>
	<div class="col-sm-4 text-center">
		<img src="http://res.cloudinary.com/dv3vuq62w/image/upload/c_scale,h_200,q_100/v1439388077/GK_COMPLETE_t4oyeb.png">
	</div>
	<div class="col-sm-4 text-center">
		<img src="http://res.cloudinary.com/dv3vuq62w/image/upload/c_scale,h_200,q_100/v1439388077/GK_INSPIRE_ppbs6e.png">
	</div>
</div>


<div class="row text-center">
	<div class="signinbtn">			
		<%= link_to "Sign In", new_user_session_path, class: "btn btn-default custom-btn" %>
	</div>
</div>


