<div class="container">
<div class="row text-center" style="margin-top: 70px">
	<div class="col-sm-4">
		<h1>Share your goals...</h1>
	</div>
	<div class="col-sm-4">
		<h1>get them done...</h1>
	</div>
	<div class="col-sm-4">
		<h1>Inspire others.</h1>
	</div>
</div>
</div>


	<!-- <div class="panel panel-default homepanel"> -->
	  <!-- <div class="panel-body"> -->
	    <div class="row text-center" style="margin-top: 100px; margin-bottom: 100px">
			<%= link_to "Sign In", new_user_session_path, class: "btn btn-default custom-btn" %>
		</div>
	  <!-- </div> -->
	<!-- </div> -->

