<%= cl_image_tag "GOALKEEPER.png", :height => 25 %>
<h2>You received encouragement!</h2>
<p>Congratulations, <%= @encouragement_giver.profile.name %> has given you encouragement for your goal <strong><%= @goal.name %></strong>.</p>
<hr>
<div>
  <p>Keep on top of your goals with <a href="http://www.goalkeeperapp.herokuapp.com">Goalkeeper.</a></p>
  <p>Goalkeeper explores the idea that declairing your goals publicly increases your motivation to achieve them. It's in beta, there will bugs!</p>
</div>
