<div id="encouragement_for_goal_<%= goal.id %>">
<hr>
<h4>Encouragement <span class="badge"><%= goal.encouragements.count %></span></h4>
	<% if goal.user == current_user %>
	<% else %>
		<% if current_user.given_encouragement?(goal) %>
			<p class="orgtxt">Nice one, you gave encouragement!</p>
		<% else %>
			<%= link_to "Give Encouragement", encourage_goal_path(goal), method: :post, remote: true %>
		<% end %>
	<% end %>
</div>
