<div id="encouragement_for_goal_<%= goal.id %>">
	<% if goal.user == current_user %>
	<% else %>
		<% if current_user.given_encouragement?(goal) %>
			Nice one!
		<% else %>
			<%= link_to "Encourage!", encouragements_path(goal_id: goal.id), method: :post, remote: true %>
		<% end %>
	<% end %>
	<%= goal.encouragements.count %>
</div>
