<h1>Create a New Goal</h1>
<%= link_to 'Back', home_index_path %>
<br>
<div class="col-md-4 formp">
	<%= render 'form' %>
</div>

<div class="col-md-8 feedborder">
<h2>Current Goals</h2>
	<%= render @goals %>
</div>
