$font-family-sans-serif:  "Karla", Helvetica, Arial, sans-serif !default;
$font-size-base:          13px !default;
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

/* Navbar */
$navbar-default-bg:         #f8f8f8 !default;
$navbar-default-color:      #fff !default;
$navbar-default-brand-color:               #f27f05 !default;


/* Buttons */
$btn-warning-color:         #fff !default;
$btn-warning-bg:            #f27f05 !default;
$btn-warning-border:        darken($btn-warning-bg, 5%) !default;

$badge-border-radius:       10px !default;

@import "bootstrap-sprockets";
@import "bootstrap";
/*@import url(http://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic);*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 *= require jquery
 *= require jquery_ujs
 *= require jquery-ui
 *= require turbolinks
 *= require bootstrap-sprockets
 *= require_tree .
 *= require_self
 */

 .pagewrap {
  text-align: center;
 }

 .homepanel {
 	background-color: #f27f05;
 	margin-top: 200px;
 	margin-bottom: 100px;
 }

.loggin {
  width: 90%;
  max-width: 350px;
  margin: 200px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
}


.form-1 {
  width :300px !important;
  margin-bottom: 10px;
}

.formp {
	margin-top: 20px;
	padding-right: 40px;
}


.homemargin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.feed {
  margin-top: 20px;
}

.feedborder {
  padding-left: 27px;
  border-left: 1px solid;
  border-color: #ddd;
}

.search {
	margin-bottom: 15px; 
}

.searchbar {
	border-right: none;
	float: left;
}

.footer {
	display: block;
	margin-top: 50px;
	padding-bottom: 100px;
	padding-top: 10px;
	border-top: 1px solid;
	border-color: #ddd;
	background-color: $navbar-default-bg;

}

.noticetext {
	color: $btn-warning-bg;
	margin-bottom: 20px;
}

.orgtxt {
	color: $btn-warning-bg;
}

th, td {
    padding: 6px;
}

.navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 18px;
    padding-top: 10px;
    border: 1px solid transparent;
   }

   .navbar-brand {
   	font-size: 2em;
   }

	.nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
          color: #f27f05;
          font-weight: bold;
          cursor: default;
          background-color: #ffffff;
          /*border: 1px solid #dddddd;*/
          border-bottom-color: transparent;
          border-top-color: #f27f05;
          border-top-width: 2px;
          } 

.custom-btn {
  width: 270px !important;
  font-size: 2em;
  color: #f27f05;
  text-shadow: none;
  background-image: none;
  /*background-color: #5FEBB7;*/
  /*border-width: 2px;*/
  /*border-color: #5FEBB7; */
}

.circular {
	width: 200px;
 	height: 200px;
 	background-color: #f27f05;
 	/*background-size: cover;*/
 	margin: 10px;
 	display: block;
 	border-radius: 100px;
 	-webkit-border-radius: 100px;
 	-moz-border-radius: 100px;
}

.circtext {
	font-size: 2.8em;
	font-weight: bold;
	color: white;
}

.background {
	background: url(http://res.cloudinary.com/dv3vuq62w/image/upload/e_shadow:30/a_0/v1439383917/NewYorkStreet_vthin2.jpg) no-repeat fixed center;
}

.signinbtn {
	margin-top: 150px;
	margin-bottom: 250px;
}

.homecircles {
	text-align: center;
	padding: 15px;
}

.apple_pagination {
  background: #f8f8f8;
  /*border: 1px solid #e5e5e5;*/
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #fff;
    background-color: #f27f05;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    /*text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; */
}

  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

/*footer {
	display: block;
}*/