<footer>

	<!-- <div class="navbar navbar-default" role="navigation"> -->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h4><span class="glyphicon glyphicon-envelope pull-left" aria-hidden="true"></span>&nbsp Contact</h4>
						<h4><span class="glyphicon glyphicon-star pull-left" aria-hidden="true"></span>&nbsp Feedback</h4>
					</div>
					<div class="col-sm-4">
						
					</div>
					<div class="col-sm-4">
						
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->
</footer>