<footer>

	<!-- <div class="navbar navbar-default" role="navigation"> -->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h4>Recently Completed Goals</h4>
					</div>
					<div class="col-sm-4">
						<div class="text-center"><h4>Ictus</h4></div>
					</div>
					<div class="col-sm-4">
						<div class="pull-right"><h4>Social</h4></div>
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->
</footer>